*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --grey: #FAF9F7;
  --blue: #259CD7;
  --viewH : 100vh;
  --viewW : 100vw;
  --ratio : calc(var(--viewW)/1440);
}

.login-page-container{
  background-color: var(--grey);
  width: var(--viewW);
  height: var(--viewH);
}

.block-left{
  float: left;
  width: calc(1000*var(--ratio));
  height: var(--viewH);
  background-color: var(--grey);
}

.block-right{
  position: relative;
  float: right;
  width: calc(420*var(--ratio));
  height: var(--viewH);
  background-color: var(--blue);
  font-family: "Fira Sans", sans-serif;
  color: white;
  text-align: center;
}
.welcome-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue);

}
.welcome-block h3{
  font-weight: 600;
  font-size: calc(32*var(--ratio));
  line-height: calc(42*var(--ratio));
  background-color: var(--blue);

}
.welcome-block p{
  margin: calc(12*var(--ratio)) 0 calc(119*var(--ratio)) 0;
  width: 100%;
  font-size: calc(18*var(--ratio));
  line-height: calc(24*var(--ratio));
  background-color: var(--blue);

}

/* logo */
.logo-block{
  width: calc(471*var(--ratio));
  height: calc(68*var(--ratio));
  margin: calc(var(--ratio)*50) 0 0 calc(var(--ratio)*50);
  position: absolute;
}
.logo-block img{
  float: left;
  /*  */
  height: calc(68*var(--ratio));
  width: calc(150.81*var(--ratio));
}

.logo-block p{
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(25*var(--ratio));
  line-height: calc(68*var(--ratio));
  color: var(--blue);
  /*  */
  width: calc(320*var(--ratio));
  height: calc(26.98*var(--ratio));
}

/* form */
.form-container{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", sans-serif;
}
.login-form{
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  margin: -20vh 0 0 -25vw;
  text-align: center;
}
.login-form h2{
  font-size: calc(32*var(--ratio));
}
.login-form .row-control{
  width: 100%;
  height: calc(80*var(--ratio));
  margin: calc(5*var(--ratio)) ;
}
.row-control mat-form-field{
  width: calc(397.76*var(--ratio));
}
.row-control button{
  width: calc(397.76*var(--ratio));
  height: calc(60*var(--ratio));
  border-radius: 25px;
}
.row-control button:disabled{
  color: #A0A4A8;
}
mat-form-field mat-label{
  color: #A0A4A8;
}
.login-form button:enabled{
  background-color: var(--blue);
  color: white;
}

