<div class="slideshow-container">
  <div class="slide-show" [id] = 'idShow'>
    <div class="slider-icon nav-prev" (click)="toPrev()"><mat-icon>arrow_back_ios</mat-icon></div>
    <div class="slider-icon nav-next" (click)="toNext()"><mat-icon>arrow_forward_ios</mat-icon></div>
    <img [src]="urlShow" alt="" class="event-img" >

    <div class="span-nav-group">
      <span class="span-nav" [class.showed]="e.id == idShow" *ngFor="let e of listEvent" (click)="toEvent(e.id)" [id]="e.id" ></span>
    </div>

  </div>

</div>
