*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --viewH : 100vh;
  --viewW : 100vw;
  --textBlue: #259CD7;
  --ratio : calc(var(--viewW)/1440);
}


/* <Header> */
.home-header{
  display: flex;
  background-color: #F2FBFF;
}

/* <logo> */
.logo-home-header{
  /* margin: 8px 0 8px 3vw; */
  margin-left: calc(47*var(--ratio));
  margin-top: calc(8*var(--ratio));
  margin-bottom: calc(9*var(--ratio));
  margin-right: calc(61*var(--ratio));
  height: calc(68*var(--ratio));
}
.logo-home-header img{
  float: left;
  /*  */
  height: calc(68*var(--ratio));
  width: calc(150.81*var(--ratio));
  /*  */
}
.logo-home-header p{
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(25*var(--ratio));
  line-height: calc(68*var(--ratio));
  color: var(--textBlue);
  /*  */
  width: calc(320*var(--ratio));
  height: calc(26.98*var(--ratio));
  /*  */
}
/* </logo> */

/* <search bar> */
.searchbar-home-header{
  /* width: 30%; */
  width: calc(446*var(--ratio));
  height: calc(31.85*var(--ratio));
  /* height: 65px; */
  margin: calc(25.58*var(--ratio)) calc(125*var(--ratio)) auto 0;
  color: #A0A4A8;
  font-family: 'Montserrat', sans-serif;
  margin-top: calc(9*var(--ratio));
}
.searchbar-home-header input{
  font-size: calc(16*var(--ratio));
  margin: 0 calc(86*var(--ratio)) calc(10*var(--ratio)) calc(9*var(--ratio));
}
.searchbar-home-header .searchbar-form-field{
  width: 100%;
}
.mat-mdc-form-field {
  height: calc(68*var(--ratio));
}
.searchbar-home-header button{
  padding-top: 5px;
}
/* </search bar> */

/* <Login button> */
.header-login{
  /* margin-right:calc(95*var(--ratio)) */
  margin: calc(12*var(--ratio)) calc(75*var(--ratio)) calc(15*var(--ratio)) 0;
}
.header-login .header-login-btn{
  width: calc(195*var(--ratio));
  height: calc(58*var(--ratio));
  border-radius: calc(36*var(--ratio));
  font-style: normal;
  font-weight: 500;
  font-size: calc(14*var(--ratio));

}
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: calc(58*var(--ratio));
}
/* </Login button> */

/* </Header> */

/* <Slider> */
.home-slider{
  width: 100%;
  height: calc(670*var(--ratio));
  background-color: #A0A4A8;
}
/* </Slider> */





